<div class="container-fluid auto_con">
	<div class="row vec_reg_row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vec_reg_col">
			<div class="col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-3 col-md-3">
				<div class="form-group text-center reg_form">
					<label>Registration Number</label>
					<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-futbol-o" aria-hidden="true"></i></span>
							<input type="text"  class="form-control" >
							<input type="text"  class="form-control" >
							<input type="text"  class="form-control" >
							<input type="text"  class="form-control" >
					</div>
				</div>
			</div>
			<div class="col-xs-6  col-sm-4 col-md-3">
				<div class="form-group text-center aadhar_form">
					<label>Aadhar Number</label>
					<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
							<input type="text"  class="form-control" >
							<input type="text"  class="form-control" >
							<input type="text"  class="form-control" >
					</div>
				</div>
			</div>
			<div class="col-xs-12 get_quote_col text-center">
				<button class="btn get_quote_btn" ng-click="labelposition='labelpositionclass';inputposition='inputpositionclass';headerposition='headerpositionclass';entirerow=true">SUBMIT</button>
			</div>
		</div>
	</div>
	<div class="row auto_pop_row" ng-show="entirerow">
	<!-- TOTAL FORM -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- VECHILE  INFORMATION -->
			<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 vechile_info">
				<h6 class="text-center auto_pop_row_header" ng-class="headerposition"><span>V</span>EHICLE <span>I</span>NFORMATION</h6>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>RTO NAME</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>CHENNAI</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>CHASSIS NO</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>ADCD1234</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>ENGINE NO</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>JEWQ4556</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>REGISTRATION DATE</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>30-07-2015</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>VEHICLE CLASS</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>PRIVATE CAR</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>MAKE</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>MARUTI</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>MODEL</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>SWIFT</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>VARIANT</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>LDL</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>COLOR</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>BLUE</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>FUEL TYPE</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>PETROL</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>CC</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>1098</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>MANFUATURING YEAR</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>05-05-2015</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
							<p>SEATING CAPACITY</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
							<p>5</p>
						</div>
					</div>
				</div>
	
			</div>
			<!-- CUSTOMER  INFORMATION -->
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 customer_info">
				<h6 class="text-center auto_pop_row_header" ng-class="headerposition"><span>C</span>USTOMER <span>I</span>NFORMATION</h6>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
						<p>NAME</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
						<p>KARTHIK.S</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
						<p>GENDER</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
						<p>MALE</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
						<p>DATE OF BIRTH</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
						<p>10-09-1990</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
						<p>MOBILE</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
						<p>8754492887</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 labelvalue" ng-class="labelposition">
						<p>EMAIL</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 inputsvalue" ng-class="inputposition">
						<p>KARTHICK.S@FASOFTWARES.COM
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entire_form">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 address_label labelvalue" ng-class="labelposition">
						<p>ADDRESS</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 address_field inputsvalue" ng-class="inputposition">
						<p>NO:33,MEERLAN TOWER,HANUMANTHA ROAD,BALAJI NAGAR,ROYAPETTAH-600 014.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row bottom_height">
		<div class="col-xs-12 bottom_height_col">
		</div>
	</div>
</div>